<style>
.font
{
  font-family: monospace;
  color: white;
}
td 
    {
        border: 0px solid black;
        background-color: #16A085;
        height: 60px;
        border-radius: 5px;
        padding: 9px;
    }
.espace
    {
      width: 350px;
    }
a
{
  text-decoration: none;
  color: black;
}
</style>

<div>
<table width="100%">
<td>
<center><h1><div class="font">Show Note</div></h1></center>
</td>
</table>
</div>
<p></p>
<p id="notice"><%= notice %></p>

<center>
<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
</center>
