<div>
<table width="100%">
<td>
<center><h1><div class="font">Edit Task</div></h1></center>
</td>
</table>
</div>
<p></p>

<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
