<style>
td 
    {
        border: 0px solid black;
        background-color: #16A085;
        height: 60px;
        border-radius: 5px;
        padding: 20px;
    }
a
{
  text-decoration: none;
  color: black;
}

</style>

<p></p>

<div class="ht">
<center>
<div>
<table width="50%">
<td>
<center><h3><a href="http://localhost:3000/categories/new"><font color="black">New Category</font></a></h3></center>
</td>
</table>
</div>

<p></p>

<div>
<table width="50%">
<td>
<center><h3><a href="http://localhost:3000/tasks/new"><font color="black">New Task</font></a></h3></center>
</td>
</table>
</div>

<p></p>

<div>
<table width="50%">
<td>
<center><h3><a href="http://localhost:3000/notes/new"><font color="black">New Note</font></a></h3></center>
</td>
</table>
</div>
</center>
</div>