<style>
table
{
  border: 1px solid #22b99e;
  background:#ABB2B9;
  height: 500px;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 60px;
  text-color: black;
  background-color: #ABB2B9;
  font-size: 17px;
  font-family: Montserrat bold;
}
th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #ABB2B9;
    font-size: 15px;
    height: 40px;
    font-family: Arial Black bold;
  }
  .hoja{
    width: 1100px; 
    background: #ffffff;
    height: 520px;
  }

  td:hover 
{
    background-color: #68bdb9;
}

.table-style .today 
{
  background: #2A3F54; 
  color: #ffffff;
}
.table-style th:nth-of-type(7),td:nth-of-type(7) 
{
  color: blue;
}
.table-style th:nth-of-type(1),td:nth-of-type(1) 
{
  color: red;
}
.table-style tr:first-child th
{
  background-color:#009688 ; 
  text-align:center; 
  font-size: 15px;
  font-family: Arial Black;
}
.bgcolor
    {
      background: #3498DB;
    }

.ori
{
  height: 10px;
  width: 600px;
}
.hoja2
{
  width: 600px; 
    background: #c2c2c2;
    height: 150px;
}
</style>

<body class="bgcolor">

<div class="Hoja">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<center>
  <div class="hoja" class="col-md-4 col-sm-12 well pull-right-lg" style="border:0px solid backgrop" >
    <div class="col-md-12" style="padding:0px;">
      <br>
        <table class="table table-bordered table-style table-responsive" class="orientacion">
          <tr>
            <th colspan="7"><center><font color="white"><p></p> Dec - 2021 </font></center></th>
          </tr>
          <tr>
            <th width="13%"><center><font color="black"><p></p>SUN</font></center></th>
            <th width="13%"><center><font color="black"><p></p>MON</font></center></th>
            <th width="13%"><center><font color="black"><p></p>TUE</font></center></th>
            <th width="13%"><center><font color="black"><p></p>WED</font></center></th>
            <th width="13%"><center><font color="black"><p></p>THU</font></center></th>
            <th width="13%"><center><font color="black"><p></p>FRI</font></center></th>
            <th width="13%"><center><font color="black"><p></p>SAT</font></center></th>
          </tr>
          <center>
          <tr align="center">
            <td><font color="#717D7E"><p></p>28<font></td>
            <td><font color="#797D7F"><p></p>29<font></td>
            <td><font color="#797D7F"><p></p>30<font></td>
            <td><a href="/new/"><font color="black"><p></p>1<font></a></td>
            <td><a href="/new/"><font color="black"><p></p>2<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>3<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>4<font></a></td>
          </tr>
          <tr align="center">
            <td><a href="/new/"><font color="black"><p></p>5<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>6<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>7<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>8<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>9<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>10<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>11<font></a></td>
          </tr>
          <tr align="center">
            <td><a href="/otro/"><font color="black"><p></p>12<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>13<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>14<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>15<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>16<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>17<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>18<font></a></td>
          </tr>
           <tr align="center">
           <td><a href="/otro/"><font color="black"><p></p>19<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>20<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>21<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>22<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>23<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>24<font></a></td>
           <td><a href="/otro/"><font color="black"><p></p>25<font></a></td>
          </tr>
            <tr align="center">
            <td><a href="/otro/"><font color="black"><p></p>26<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>27<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>28<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>29<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>30<font></a></td>
            <td><a href="/otro/"><font color="black"><p></p>31<font></a></td>
            <td><font color="#797D7F"><p></p>1<font></td>
          </tr>
          </center>
        </table>

    </div>
  </div>
  </div>
  </body>
